.progress-dot {
    top: 35%;
    height: 20px;
    width: 20px;
    background-color: #e5e7eb;
    border-radius: 50%;
    position: absolute;
    display: inline-block;
    transition: background-color 0.3s;
  }
  
  .dot-active {
    background-color: #4b5563; 
  }
