tbody tr:nth-child(odd) {
  background-color: #ffffff;
}

table {
  width: 100%; /* Menyesuaikan lebar tabel dengan container */
  border-collapse: collapse; /* Menggabungkan border antar sel */
  overflow: hidden;
  border-radius: 0.375rem;
  border: #acacac;
}

.table-cell {
  text-align: center; /* Rata tengah teks pada kolom header dan data */
  padding: 20px; /* Menambahkan ruang dalam di dalam sel */
}
