.text-editor-container {
  width: 100%;
  margin-top: 1rem;
  height: 27rem;
}

.ProseMirror {
  border: 1px solid #000;
  height: 25rem;
  padding: 2px;
  border-radius: 0.25rem;
  overflow: auto;
}

.ProseMirror h1,
.ProseMirror h2,
.ProseMirror h3 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.ProseMirror ul,
.ProseMirror ol {
  margin-left: 6px;
  margin-bottom: 4rem;
  list-style-type: disc;
}

.ProseMirror li {
  margin-bottom: 2rem;
}

.ProseMirror blockquote {
  border-left: 4px solid #000;
  padding-left: 4px;
  font-style: italic;
  color: #666;
}
