.text-container {
  width: 100%;
  margin-top: 1rem;
  border: 1px solid #e2e8f0;
  border-radius: 0.5rem;
  overflow: auto;
}

.text-container.has-error {
  border: 1px solid #e50000;
}

.text-container .ProseMirror {
  height: 12rem;
  padding: 16px;
  overflow: auto;
  border: none;
  outline: none;
  -webkit-tap-highlight-color: transparent;
}

.text-container .ProseMirror h1,
.text-container .ProseMirror h2,
.text-container .ProseMirror h3 {
  margin-top: 6rem;
  margin-bottom: 2rem;
  font-weight: bold;
}

.text-container .ProseMirror ul,
.text-container .ProseMirror ol {
  margin-left: 6px;
  margin-bottom: 4rem;
  list-style-type: disc;
}

.text-container .ProseMirror li {
  margin-bottom: 2rem;
}
